<div class="bg-success bg-opacity-10 vh-100 p-4">
    <div class="row bg-white rounded p-4 m-1 mb-3">
        <div class="col-lg-3">
            <img src="../assets/images/bird-task.svg" class="img-fluid" alt="Bird with a text box"/>
        </div>
        <div class="col-lg-9">
            <h1 class="mb-4">Hola {{currentUser}}!</h1>
            <div class="input-group">
                <input type="text" appAlphanumeric class="form-control border-success" placeholder="Tarea:" [(ngModel)]="newTask"
                (keydown.enter)="addTask(newTask)" 
                />
                <button class="btn btn-success btn-lg" (click)="addTask(newTask)">Agregar</button>
            </div>
            <small  *ngIf="messageError" class="text-danger ms-2">{{messageError}}</small>
        </div>
    </div>
    <ng-container *ngIf="tasks.length">
        <app-card-task
        [tasks]="tasks"
        (sendId)="deleteTask($event)"
        ></app-card-task>
    </ng-container>
</div>