<div *ngFor="let task of tasks" class="row bg-white rounded p-4 m-1 mb-3">
    <div class="form-check d-flex justify-content-between">
        <div>
            <input class="form-check-input big-checkbox" type="checkbox" id="task.id" [(ngModel)]="task.isChecked">
            <span class="ms-3 me-3">{{ task.description | titlecase  }}</span>
        </div>
        <div *ngIf="!task.isChecked" class="user-select-all big-checkbox">
            <button type="button" class="btn btn-success" (click)="deleteTask(task.id)"><i class="fa-solid fa-trash-can" ></i></button>
        </div>
    </div>
</div>
